body {
    background: #ccc;
    color: #fff;
}
#images {
    width: 200px;
    height: 200px;
    background: url('../images/liutong.png') no-repeat;
    background-size: 200px 200px;
    transform: rotate(45deg);
}
#abc {
    width: 500px;
    height: 100px;
    background: red;
}
